# In-Class Exercises 2-14

## Task 1: Basic Exploration

In [1]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')

In [2]:
# Display first 5 rows

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
# Describe dataset

iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Task 2: Mean, Median, and Mode

In [4]:
# Calculate the mean of the 'sepal_length'

iris['sepal_length'].mean()

5.843333333333334

In [5]:
# Find median of 'sepal_width'

iris['sepal_width'].median()

3.0

In [6]:
# Determine mode of 'species'

iris['species'].mode()

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

## Task 3: Variance and Standard Deviation

In [7]:
# Compute the variance of 'petal_length'

iris['petal_length'].var()

3.1162778523489942

In [8]:
# Compute the standard deviation of 'petal_width'

iris['petal_width'].std()

0.7622376689603465

## Task 4: Skewness and Kurtosis

In [9]:
# Find skewness of entire dataset

iris.skew()

/var/folders/lq/3nm3nztn2c99gt1znps0xprc0000gn/T/ipykernel_65936/4122954602.py:3: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  iris.skew()

sepal_length    0.314911
sepal_width     0.318966
petal_length   -0.274884
petal_width    -0.102967
dtype: float64

In [10]:
# Find kurtosis of 'sepal_length'

iris['sepal_length'].kurt()

-0.5520640413156395

## Task 5: Quantiles

In [11]:
# Calculate the 25th, 50th, and 75th percentiles of 'petal_length'

quantile_25 = iris['petal_length'].quantile(0.25)
quantile_50 = iris['petal_length'].quantile(0.50)
quantile_75 = iris['petal_length'].quantile(0.75)

print("25th Percentile: " + str(quantile_25))
print("50th Percentile: " + str(quantile_50))
print("75th Percentile: " + str(quantile_75))

25th Percentile: 1.6
50th Percentile: 4.35
75th Percentile: 5.1